.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.action-block {
    display: flex;
    justify-content: space-between;
}

.action-block h3 {
    font-size: 3rem;
}